@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
header {
  background: url("../img/Desktop/Header/PNG/pattern.png") no-repeat;
  background-size: cover;
}

header .wrap-nav nav .container .navbar-brand img {
  width: 112px;
}

header .wrap-nav nav .container .navbar-collapse .navbar-nav .nav-item {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 30px;
}

header .wrap-nav nav .container .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  line-height: 18.75px;
  color: #18223A;
}

header .wrap-nav nav .container .navbar-collapse .navbar-nav .nav-item .nav-link img {
  width: 190px;
}

header .jumbotron {
  padding-top: 40px;
}

header .jumbotron .container .title {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

header .jumbotron .container .title h1 {
  font-family: 'Baloo 2';
  font-size: 45px;
  line-height: 60px;
  text-align: center;
  font-weight: 700;
}

header .jumbotron .container .title h1 .lessons {
  padding-left: 12px;
  padding-right: 12px;
}

header .jumbotron .container .title .title-img {
  position: absolute;
  top: 100px;
  right: 325px;
}

header .jumbotron .container .title .title-img img {
  width: 55px;
}

header .jumbotron .container .illustration img {
  width: 1100px;
  overflow: hidden;
}

main .first .container {
  padding-top: 125px;
  padding-bottom: 40px;
}

main .first .container .title {
  padding-left: 250px;
  padding-right: 250px;
  margin-bottom: 30px;
}

main .first .container .title h2 {
  font-family: 'Baloo 2';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
}

main .first .container .wrap-row .row-top {
  padding-left: 90px;
  padding-right: 90px;
  margin-bottom: 25px;
}

main .first .container .wrap-row .row-top .col img {
  width: 215px;
}

main .first .container .wrap-row .row-bottom {
  padding-left: 210px;
  padding-right: 210px;
  margin-bottom: 20px;
}

main .first .container .wrap-row .row-bottom .col img {
  width: 215px;
}

main .first .container .wrap-btn-google {
  margin-bottom: 66px;
}

main .first .container .wrap-btn-google .btn-google {
  padding: 0;
}

main .first .container .wrap-btn-google .btn-google img {
  width: 175px;
}

main .first .container .trademark {
  font-family: Baloo 2;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #18223A;
}

main .second {
  background: url("../img/Desktop/Section 2/patern.png") no-repeat;
  background-size: cover;
}

main .second .container {
  padding-top: 100px;
  padding-bottom: 70px;
}

main .second .container .title {
  margin-bottom: 60px;
}

main .second .container .title h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
}

main .second .container .wrap-img img {
  width: 700px;
}

main .second .container .wrap-img .laptop {
  margin-top: 50px;
  width: 100%;
}

main .third {
  background: url("../img/Desktop/Section 3/patern.png") no-repeat;
  background-size: cover;
}

main .third .container-third {
  padding-top: 140px;
  padding-bottom: 140px;
}

main .third .container-third .title {
  margin-bottom: 50px;
}

main .third .container-third .title h2 {
  font-family: 'Baloo 2';
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  color: #18223A;
}

main .third .container-third .wrap-row {
  padding: 0 60px;
}

main .third .container-third .wrap-row .row .col .card {
  border: none;
  border-radius: 20px;
}

main .third .container-third .wrap-row .row .col .card .container {
  padding: 25px;
}

main .third .container-third .wrap-row .row .col .card .container h2 {
  color: white;
  font-family: 'Baloo 2';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
}

main .third .container-third .wrap-row .row .col .card .container p {
  margin-bottom: 0;
  font-family: 'Baloo 2';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

main .third .container-third .wrap-row .row .col .card-left {
  background-color: #F53C8E;
}

main .third .container-third .wrap-row .row .col .card-center {
  background-color: #FEB61C;
}

main .third .container-third .wrap-row .row .col .card-right {
  background-color: #00BAC7;
}

main .fifth {
  background: url("../img/Desktop/Section 4/patern.png") no-repeat;
  background-size: cover;
}

main .fifth .container-fifth {
  padding-top: 140px;
  padding-bottom: 140px;
}

main .fifth .container-fifth .title {
  margin-bottom: 50px;
}

main .fifth .container-fifth .title h2 {
  font-family: 'Baloo 2';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  color: #18223A;
}

main .fifth .container-fifth .wrap-row {
  padding-left: 200px;
  padding-right: 200px;
}

main .fifth .container-fifth .wrap-row .col {
  padding: 0;
}

main .fifth .container-fifth .wrap-row .left .card {
  border-radius: 30px;
  border: none;
  -webkit-box-shadow: 0px 20px 39px 16px rgba(83, 99, 123, 0.08);
          box-shadow: 0px 20px 39px 16px rgba(83, 99, 123, 0.08);
}

main .fifth .container-fifth .wrap-row .left .card .card-top {
  padding: 40px;
  padding-bottom: 25px;
  border-bottom: 1px solid #E6EAF1;
}

main .fifth .container-fifth .wrap-row .left .card .card-top h3 {
  font-family: 'Baloo 2';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #18223A;
}

main .fifth .container-fifth .wrap-row .left .card .card-top p {
  font-family: 'Baloo 2';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #858B9A;
}

main .fifth .container-fifth .wrap-row .left .card .card-body {
  padding-top: 0;
}

main .fifth .container-fifth .wrap-row .left .card .card-body .container .wrap-text {
  border-bottom: 1px solid #E6EAF1;
  padding: 15px 0;
}

main .fifth .container-fifth .wrap-row .left .card .card-body .container .wrap-text:nth-child(3) {
  border-bottom: none;
}

main .fifth .container-fifth .wrap-row .left .card .card-body .container .wrap-text p {
  margin: 0;
  font-family: 'Baloo 2';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #858B9A;
}

main .fifth .container-fifth .wrap-row .left .card .card-body .container .wrap-text h3 {
  font-family: Baloo 2;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #18223A;
}

main .fifth .container-fifth .wrap-row .right .card {
  background: url("../img/Desktop/Section 4/background-patern.png") no-repeat;
  background-size: cover;
  border-radius: 30px;
  border: none;
  -webkit-box-shadow: 0px 20px 39px 16px rgba(83, 99, 123, 0.08);
          box-shadow: 0px 20px 39px 16px rgba(83, 99, 123, 0.08);
}

main .fifth .container-fifth .wrap-row .right .card .card-top {
  padding: 40px;
  padding-bottom: 25px;
  border-bottom: 1px solid #E6EAF1;
}

main .fifth .container-fifth .wrap-row .right .card .card-top h3 {
  font-family: 'Baloo 2';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

main .fifth .container-fifth .wrap-row .right .card .card-top p {
  font-family: 'Baloo 2';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

main .fifth .container-fifth .wrap-row .right .card .card-body {
  padding-top: 0;
}

main .fifth .container-fifth .wrap-row .right .card .card-body .container .wrap-text {
  border-bottom: 1px solid #E6EAF1;
  padding: 15px 0;
}

main .fifth .container-fifth .wrap-row .right .card .card-body .container .wrap-text:nth-child(3) {
  border-bottom: none;
}

main .fifth .container-fifth .wrap-row .right .card .card-body .container .wrap-text p {
  margin: 0;
  font-family: 'Baloo 2';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

main .fifth .container-fifth .wrap-row .right .card .card-body .container .wrap-text h3 {
  font-family: Baloo 2;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

main .fifth .container-fifth .wrap-row .wrap-vs {
  background: #F9AE0F;
  position: absolute;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  padding-top: 17px;
  padding-left: 17px;
  margin-top: 170px;
  margin-left: 340px;
}

main .fifth .container-fifth .wrap-row .wrap-vs h3 {
  margin: 0;
  font-family: 'Baloo 2';
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #5C3F00;
}

main .fifth .container-fifth .wrap-row .wrap-btn-google {
  margin-top: 40px;
}

main .fifth .container-fifth .wrap-row .wrap-btn-google .btn-google {
  padding: 0;
}

main .fifth .container-fifth .wrap-row .wrap-btn-google .btn-google img {
  width: 205px;
}
/*# sourceMappingURL=style.css.map */