@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
header {
  background: url("../img/Desktop/Header/PNG/pattern.png") no-repeat;
  background-size: cover;
}

header .wrap-nav nav .container .navbar-brand img {
  width: 112px;
}

header .wrap-nav nav .container .navbar-collapse .navbar-nav .nav-item {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 30px;
}

header .wrap-nav nav .container .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  line-height: 18.75px;
  color: #18223A;
}

header .wrap-nav nav .container .navbar-collapse .navbar-nav .nav-item .nav-link img {
  width: 190px;
}

header .jumbotron {
  padding-top: 40px;
}

header .jumbotron .container .title {
  padding-left: 250px;
  padding-right: 250px;
  margin-left: auto;
  margin-right: auto;
}

header .jumbotron .container .title h1 {
  font-family: 'Baloo 2';
  font-size: 45px;
  line-height: 60px;
  text-align: center;
  font-weight: 700;
}

header .jumbotron .container .title h1 .lessons {
  background: url("../img/Vector45.png") no-repeat;
  background-size: 128px;
  padding-left: 12px;
  padding-right: 12px;
}

header .jumbotron .container .title .title-img {
  display: none;
}

header .jumbotron .container .illustration img {
  width: 1100px;
  overflow: hidden;
}

header .jumbotron .container .illustration-mobile {
  display: none;
}

@media screen and (max-width: 675px) {
  header {
    background: url("../img/Mobile/Header/PNG/background.png") no-repeat;
    background-size: cover;
  }
  header .jumbotron .container .title {
    padding-left: 20px;
    padding-right: 20px;
  }
  header .jumbotron .container .title h1 {
    font-size: 30px;
    line-height: 40px;
  }
  header .jumbotron .container .title h1 .khan {
    width: 23px;
  }
  header .jumbotron .container .title h1 .lessons {
    padding-left: 12px;
    padding-right: 12px;
  }
  header .jumbotron .container .title .title-img {
    display: none;
  }
  header .jumbotron .container .illustration {
    display: none;
  }
  header .jumbotron .container .illustration-mobile {
    display: block;
  }
  header .jumbotron .container .illustration-mobile img {
    width: 100%;
  }
}

main .first .container {
  padding-top: 125px;
  padding-bottom: 40px;
}

main .first .container .title {
  padding-left: 250px;
  padding-right: 250px;
  margin-bottom: 30px;
}

main .first .container .title h2 {
  font-family: 'Baloo 2';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
}

main .first .container .wrap-row .row-top {
  padding-left: 90px;
  padding-right: 90px;
  margin-bottom: 25px;
}

main .first .container .wrap-row .row-top .col img {
  width: 215px;
}

main .first .container .wrap-row .row-bottom {
  padding-left: 210px;
  padding-right: 210px;
  margin-bottom: 20px;
}

main .first .container .wrap-row .row-bottom .col img {
  width: 215px;
}

main .first .container .wrap-btn-google {
  margin-bottom: 66px;
}

main .first .container .wrap-btn-google .btn-google {
  padding: 0;
}

main .first .container .wrap-btn-google .btn-google img {
  width: 175px;
}

main .first .container .trademark {
  font-family: 'Baloo 2';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #18223A;
}

main .second {
  background: url("../img/Desktop/Section 2/patern.png") no-repeat;
  background-size: cover;
}

main .second .container {
  padding-top: 100px;
  padding-bottom: 70px;
}

main .second .container .title {
  margin-bottom: 60px;
}

main .second .container .title h2 {
  font-family: 'Harabara Mais Demo';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
}

main .second .container .wrap-img .feature-mobile {
  display: none;
}

main .second .container .wrap-img img {
  width: 700px;
}

main .second .container .wrap-img .laptop {
  margin-top: 50px;
  width: 100%;
}

main .second .container .wrap-img .laptop-mobile {
  display: none;
}

main .third {
  background: url("../img/Desktop/Section 3/patern.png") no-repeat;
  background-size: cover;
}

main .third .container-third {
  padding-top: 140px;
  padding-bottom: 140px;
}

main .third .container-third .title {
  margin-bottom: 50px;
}

main .third .container-third .title h2 {
  font-family: 'Baloo 2';
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  color: #18223A;
}

main .third .container-third .wrap-row {
  padding: 0 60px;
}

main .third .container-third .wrap-row .row .col .card {
  border: none;
  border-radius: 20px;
}

main .third .container-third .wrap-row .row .col .card .container {
  padding: 25px;
}

main .third .container-third .wrap-row .row .col .card .container h2 {
  color: white;
  font-family: 'Baloo 2';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
}

main .third .container-third .wrap-row .row .col .card .container p {
  margin-bottom: 0;
  font-family: 'Baloo 2';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

main .third .container-third .wrap-row .row .col .card-left {
  background-color: #F53C8E;
}

main .third .container-third .wrap-row .row .col .card-center {
  background-color: #FEB61C;
}

main .third .container-third .wrap-row .row .col .card-right {
  background-color: #00BAC7;
}

main .fourth {
  background: url("../img/Desktop/Section 4/patern.png") no-repeat;
  background-size: cover;
}

main .fourth .container-fourth {
  padding-top: 140px;
  padding-bottom: 140px;
}

main .fourth .container-fourth .title {
  margin-bottom: 50px;
}

main .fourth .container-fourth .title h2 {
  font-family: 'Baloo 2';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  color: #18223A;
}

main .fourth .container-fourth .wrap-row {
  padding-left: 200px;
  padding-right: 200px;
}

main .fourth .container-fourth .wrap-row .col {
  padding: 0;
}

main .fourth .container-fourth .wrap-row .left .card {
  border-radius: 30px;
  border: none;
  -webkit-box-shadow: 0px 20px 39px 16px rgba(83, 99, 123, 0.08);
          box-shadow: 0px 20px 39px 16px rgba(83, 99, 123, 0.08);
}

main .fourth .container-fourth .wrap-row .left .card .card-top {
  padding: 40px;
  padding-bottom: 25px;
  border-bottom: 1px solid #E6EAF1;
}

main .fourth .container-fourth .wrap-row .left .card .card-top h3 {
  font-family: 'Baloo 2';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #18223A;
}

main .fourth .container-fourth .wrap-row .left .card .card-top p {
  font-family: 'Baloo 2';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #858B9A;
}

main .fourth .container-fourth .wrap-row .left .card .card-body {
  padding-top: 0;
}

main .fourth .container-fourth .wrap-row .left .card .card-body .container .wrap-text {
  border-bottom: 1px solid #E6EAF1;
  padding: 15px 0;
}

main .fourth .container-fourth .wrap-row .left .card .card-body .container .wrap-text:nth-child(3) {
  border-bottom: none;
}

main .fourth .container-fourth .wrap-row .left .card .card-body .container .wrap-text p {
  margin: 0;
  font-family: 'Baloo 2';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #858B9A;
}

main .fourth .container-fourth .wrap-row .left .card .card-body .container .wrap-text h3 {
  font-family: Baloo 2;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #18223A;
}

main .fourth .container-fourth .wrap-row .right .card {
  background: url("../img/Desktop/Section 4/background-patern.png") no-repeat;
  background-size: cover;
  border-radius: 30px;
  border: none;
  -webkit-box-shadow: 0px 20px 39px 16px rgba(83, 99, 123, 0.08);
          box-shadow: 0px 20px 39px 16px rgba(83, 99, 123, 0.08);
}

main .fourth .container-fourth .wrap-row .right .card .card-top {
  padding: 40px;
  padding-bottom: 25px;
  border-bottom: 1px solid #E6EAF1;
}

main .fourth .container-fourth .wrap-row .right .card .card-top h3 {
  font-family: 'Baloo 2';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

main .fourth .container-fourth .wrap-row .right .card .card-top p {
  font-family: 'Baloo 2';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

main .fourth .container-fourth .wrap-row .right .card .card-body {
  padding-top: 0;
}

main .fourth .container-fourth .wrap-row .right .card .card-body .container .wrap-text {
  border-bottom: 1px solid #E6EAF1;
  padding: 15px 0;
}

main .fourth .container-fourth .wrap-row .right .card .card-body .container .wrap-text:nth-child(3) {
  border-bottom: none;
}

main .fourth .container-fourth .wrap-row .right .card .card-body .container .wrap-text p {
  margin: 0;
  font-family: 'Baloo 2';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

main .fourth .container-fourth .wrap-row .right .card .card-body .container .wrap-text h3 {
  font-family: Baloo 2;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

main .fourth .container-fourth .wrap-row .wrap-vs {
  background: #F9AE0F;
  position: absolute;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  padding-top: 17px;
  padding-left: 17px;
  margin-top: 170px;
  margin-left: 340px;
}

main .fourth .container-fourth .wrap-row .wrap-vs h3 {
  margin: 0;
  font-family: 'Baloo 2';
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #5C3F00;
}

main .fourth .container-fourth .wrap-row .wrap-btn-google {
  margin-top: 40px;
}

main .fourth .container-fourth .wrap-row .wrap-btn-google .btn-google {
  padding: 0;
}

main .fourth .container-fourth .wrap-row .wrap-btn-google .btn-google img {
  width: 205px;
}

main .fifth {
  background: url("../img/Desktop/Section 5/PNG/patern-illustration.png") no-repeat;
  background-size: cover;
}

main .fifth .container {
  padding-top: 140px;
  padding-bottom: 50px;
}

main .fifth .container .title {
  padding: 0 150px;
  margin-bottom: 65px;
}

main .fifth .container .title h2 {
  font-family: 'Baloo 2';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  color: #18223A;
}

main .fifth .container .wrap-img img {
  width: 680px;
}

main .sixth {
  background: url("../img/Desktop/Section-6/patern.png") no-repeat;
  background-size: cover;
}

main .sixth .container-sixth {
  padding-top: 125px;
  padding-bottom: 105px;
}

main .sixth .container-sixth .title {
  margin-bottom: 30px;
}

main .sixth .container-sixth .title h2 {
  font-family: 'Baloo 2';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  color: #18223A;
}

main .sixth .container-sixth .title h2 span img {
  width: 35px;
}

main .sixth .container-sixth .wrap-slick {
  margin-bottom: 35px;
}

main .sixth .container-sixth .wrap-slick .lazy {
  padding-left: 40px;
  padding-right: 40px;
}

main .sixth .container-sixth .wrap-slick .lazy .control-c {
  width: 45px;
  height: 45px;
}

main .sixth .container-sixth .wrap-slick .lazy .wrap-card {
  margin-right: 15px;
  margin-left: 15px;
}

main .sixth .container-sixth .wrap-slick .lazy .wrap-card .card {
  border-radius: 20px;
}

main .sixth .container-sixth .wrap-slick .lazy .wrap-card .card .container {
  padding: 40px;
  padding-bottom: 0;
}

main .sixth .container-sixth .wrap-slick .lazy .wrap-card .card .container .d-flex img {
  width: 22px;
  height: 22px;
  margin-right: 7px;
}

main .sixth .container-sixth .wrap-slick .lazy .wrap-card .card .container .d-flex p {
  font-family: 'Baloo 2';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #7B8397;
}

main .sixth .container-sixth .wrap-slick .lazy .wrap-card .card .card-body {
  padding: 0;
}

main .sixth .container-sixth .wrap-slick .lazy .wrap-card .card .card-body .container {
  padding: 40px;
  padding-top: 0;
  padding-bottom: 10px;
}

main .sixth .container-sixth .wrap-slick .lazy .wrap-card .card .card-body .container p {
  font-family: 'Baloo 2';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #7B8397;
}

main .sixth .container-sixth .wrap-slick .lazy .wrap-card .card .card-body .container .people .d-flex img {
  border-radius: 100%;
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

main .sixth .container-sixth .wrap-slick .lazy .wrap-card .card .card-body .container .people .d-flex .name h6 {
  font-family: 'Baloo 2';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #18223A;
}

main .sixth .container-sixth .wrap-slick .lazy .wrap-card .card .card-body .container .people .d-flex .name p {
  font-family: 'Baloo 2';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #7B8397;
}

main .sixth .container-sixth .wrap-btn .btn-feedback {
  padding: 10px 30px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  font-family: 15px;
  background-color: #00BAC7;
}

main .seventh {
  background: url("../img/Desktop/Section 7/PNG/patern.png") no-repeat;
  background-size: cover;
}

main .seventh .wrap-seventh {
  background: url("../img/Desktop/Section 7/PNG/illustration.png") no-repeat;
  background-size: contain;
  background-position-y: 167px;
}

main .seventh .wrap-seventh .container {
  padding: 110px 0;
}

main .seventh .wrap-seventh .container .title {
  margin-bottom: 30px;
}

main .seventh .wrap-seventh .container .title h1 {
  font-family: 'Baloo 2';
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

main .seventh .wrap-seventh .container .wrap-btn .btn-seventh img {
  width: 180px;
}

@media screen and (max-width: 675px) {
  main .first .container {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  main .first .container .title {
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 30px;
  }
  main .first .container .title h2 {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.5%;
  }
  main .first .container .wrap-row .row-top {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 25px;
  }
  main .first .container .wrap-row .row-top .col img {
    width: 150px;
  }
  main .first .container .wrap-row .row-bottom {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 25px;
  }
  main .first .container .wrap-row .row-bottom .col img {
    width: 150px;
  }
  main .first .container .wrap-btn-google {
    margin-bottom: 40px;
  }
  main .first .container .wrap-btn-google .btn-google {
    padding: 0;
  }
  main .first .container .wrap-btn-google .btn-google img {
    width: 175px;
  }
  main .first .container .trademark {
    font-size: 16px;
    text-align: center;
  }
  main .second {
    background: url("../img/Mobile/Section 2/PNG/patern.png") no-repeat;
    background-size: cover;
  }
  main .second .container {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  main .second .container .title {
    padding-left: 20px;
    margin-bottom: 35px;
  }
  main .second .container .title h2 {
    font-family: 'Baloo 2';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.005em;
    text-align: left;
    color: #18223A;
  }
  main .second .container .wrap-img .feature {
    display: none;
  }
  main .second .container .wrap-img .feature-mobile {
    display: block;
    width: 350px;
    margin-bottom: 70px;
  }
  main .second .container .wrap-img .laptop {
    display: none;
  }
  main .second .container .wrap-img .laptop-mobile {
    display: block;
    width: 95%;
  }
  main .third {
    background: url("../img/Mobile/Section 3/patern.png") no-repeat;
    background-size: cover;
  }
  main .third .container-third {
    padding-top: 85px;
    padding-bottom: 100px;
  }
  main .third .container-third .title {
    margin-bottom: 30px;
  }
  main .third .container-third .title h2 {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.5%;
  }
  main .third .container-third .wrap-row {
    padding: 0 10px;
  }
  main .third .container-third .wrap-row .row .col .card {
    border: none;
    border-radius: 20px;
  }
  main .third .container-third .wrap-row .row .col .card .container h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 30px;
  }
  main .third .container-third .wrap-row .row .col .card .container p {
    margin-bottom: 0;
    font-size: 16px;
  }
}

footer .container {
  padding-top: 20px;
  padding-bottom: 40px;
}

footer .container .row .left img {
  width: 112px;
  margin-bottom: 11px;
}

footer .container .row .left p {
  font-family: 'Baloo 2';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #777F94;
}

footer .container .row .right {
  padding-top: 25px;
}

footer .container .row .right p {
  font-family: H "arabara Mais";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: right;
  color: #7B8397;
}

footer .container .row .right .d-flex {
  float: right;
  clear: right;
}

footer .container .row .right .d-flex img {
  width: 32px;
  margin-left: 20px;
}
/*# sourceMappingURL=style.css.map */